@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: #056d78;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --warning: #ffe066;
    --danger: #e22d38;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    /* Helix Pallete */
    --black: #000000;
    --white: #ffffff;
    --neutral05: #f4f5f6;
    --neutral10: #dde0e3;
    --neutral20: #c8cdd1;
    --neutral30: #b6bbc1;
    --neutral40: #9ea6ad;
    --neutral50: #8b939a;
    --neutral60: #6e7881;
    --neutral70: #5d6977;
    --neutral80: #465564;
    --neutral90: #2f4051;
    --neutral100: #212d38;
    --neutral110: #121e29;
    --neutral120: #0c161f;
    --teal05: #e4fcff;
    --teal10: #d2f6fa;
    --teal20: #c1f0f5;
    --teal30: #98e5ec;
    --teal40: #76d7e0;
    --teal50: #5cc7d0;
    --teal60: #3bb7c2;
    --teal70: #22a3af;
    --teal80: #1b838b;
    --teal90: #056d78;
    --teal100: #004f58;
    --pink05: #ffe4f1;
    --pink10: #ffc7e3;
    --pink20: #ffaad5;
    --pink30: #ff73b8;
    --pink40: #fc4ca8;
    --pink50: #e11687;
    --pink60: #e30072;
    --pink70: #c80063;
    --pink80: #a60052;
    --pink90: #81003f;
    --pink100: #59002b;
    --yellow05: #fffae4;
    --yellow10: #fff4c3;
    --yellow20: #ffefa1;
    --yellow30: #ffe066;
    --yellow40: #f5ca3f;
    --yellow50: #e7af22;
    --yellow60: #d5920f;
    --yellow70: #cb820b;
    --yellow80: #9f5c00;
    --yellow90: #7d4600;
    --yellow100: #593100;
    --green05: #e4fff4;
    --green10: #c5fde7;
    --green20: #a7fbd9;
    --green30: #71f5c0;
    --green40: #42eca8;
    --green50: #1edf92;
    --green60: #04ce7d;
    --green70: #00b86e;
    --green80: #08a768;
    --green90: #007b4a;
    --green100: #005936;
    --blue05: #e4eaff;
    --blue10: #cfd8ff;
    --blue20: #b9c7ff;
    --blue30: #8aa0fe;
    --blue40: #708bf8;
    --blue50: #4261ee;
    --blue60: #2647da;
    --blue70: #1233c1;
    --blue80: #0624a2;
    --blue90: #011a7e;
    --blue100: #001259;
    --red05: #ffe4e6;
    --red10: #fec9cc;
    --red20: #fcaeb3;
    --red30: #f77b83;
    --red40: #fa5b62;
    --red50: #e22d38;
    --red60: #d11723;
    --red70: #ba0914;
    --red80: #9d010b;
    --red90: #7c0008;
    --red100: #590006;
    --orange05: #fce1d0;
    --orange10: #ffd0aa;
    --orange20: #ffb76d;
    --orange30: #ffa433;
    --orange40: #ff9800;
    --orange50: #ef8100;
    --orange60: #dc6a00;
    --orange70: #c65300;
    --orange80: #ab3d00;
    --orange90: #8e2e06;
    --orange100: #70220a;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: #22a3af;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --warning: #ebc64d;
    --danger: #e22d38;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    /* Helix Pallete */
    --black: #000000;
    --white: #ffffff;
    --neutral05: #f4f5f6;
    --neutral10: #dde0e3;
    --neutral20: #c8cdd1;
    --neutral30: #b6bbc1;
    --neutral40: #9ea6ad;
    --neutral50: #8b939a;
    --neutral60: #6e7881;
    --neutral70: #5d6977;
    --teal05: #e4fcff;
    --teal10: #d2f6fa;
    --teal20: #c1f0f5;
    --teal30: #98e5ec;
    --teal40: #76d7e0;
    --teal50: #5cc7d0;
    --teal60: #3bb7c2;
    --teal70: #22a3af;
    --pink05: #ffe4f1;
    --pink10: #ffc7e3;
    --pink20: #ffaad5;
    --pink30: #ff73b8;
    --yellow05: #fffae4;
    --yellow10: #fff4c3;
    --yellow20: #ffefa1;
    --yellow30: #ffe066;
    --yellow40: #f5ca3f;
    --green05: #e4fff4;
    --green10: #c5fde7;
    --green20: #a7fbd9;
    --green30: #71f5c0;
    --green40: #42eca8;
    --green50: #1edf92;
    --blue05: #e4eaff;
    --blue10: #cfd8ff;
    --blue20: #b9c7ff;
    --blue30: #8aa0fe;
    --red05: #ffe4e6;
    --red10: #fec9cc;
    --red20: #fcaeb3;
    --red30: #f77b83;
    --red40: #fa5b62;
    --orange05: #fce1d0;
    --orange10: #ffd0aa;
    --orange20: #ffb76d;
    --orange30: #ffa433;
    --orange40: #ff9800;
    --orange50: #ef8100;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
